:root {
    --background-color: rgb(219, 219, 219);
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


p {
    color: red;
}
#calculator {
    width: 20rem;
    background-color: var(--background-color);
    display: table;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    box-shadow: 1px 1px 1px 4px rgba(0,0,0,0.2);


}

.input {
    width: 98%;
    height: 10rem;
    font-size: 5rem;
    border-radius: 5%;
    background-color: var(--background-color);
    border: none;
    text-align: right;
    color: black;
}

.input:focus {
    outline: none;
}

.buttonHub {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

.btn {
    width: 4.85rem;
    height: 4rem;
    border-radius: 0;
    border: none;
    margin: 1px;
    /* margin: 2px 2px 2px 2px; */
}

.btn:hover {
    cursor: pointer;
}